@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary-color: #00ffd1;
  --secondary-color: #2b2b2b;
  --background-gradient: linear-gradient(
    45deg,
    #5f27cd,
    #341f97,
    #922c88,
    #ec008c,
    #f03434
  );
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background-gradient);
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--primary-color);
}

/* Set main properties */
main {
  margin-bottom: 3rem;
}

.about-section,
.survey-section {
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}

form .form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 0.25rem;
}

textarea {
  resize: none;
}

/* Set submit button properties */
input[type='submit'] {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type='submit']:hover {
  background-color: var(--primary-color);
}

/* Set footer properties */
footer {
  background-color
  : rgba(0, 0, 0, 0.7);
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
  border-top-left: 5px solid var(--primary-color);
  }
  
  footer p {
  font-size: 1rem;
  color: #ffffff;
  }
  
  /* Set button properties */
  .button,
  a#survey_link {
  background-color: var(--secondary-color);
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  }
  
  .button {
    display: inline-block;
    background: var(--background-gradient);
    color: #fff;
    text-decoration:
    none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    }
    
    .button:hover,
    a#survey_link:hover {
    transform: translateY(-5px);
    }
    
    button,
    a#survey_link {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    }
    
    button:hover,
    a#survey_link:hover {
    background-color: var(--primary-color);
    }
  
